:root {
    --colourBackground: #000000;
    --colourlight: #4d5995;
    --colourmid: #384770;
    --colourdark: #131739;
    --colourText: #ffffff;
    --colour2light: #bf2424;
    --colour2mid: #821a1a;
    --colour2dark: #340404;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--colourBackground);
}

.calculatorBox {
    background: var(--colourlight);
    border: 1px solid var(--colourText);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.screen {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-weight: 300;
    background-color: var(--colourlight);
    font-size: 5rem;
    width: 100%;
    height: 80px;
    border: none;
    color: var(--colourText);
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    color: var(--colourText);
    background-color: var(--colourmid);
    border-radius: 7px;
    border: 1px solid var(--colourdark);
    font-size: 2rem;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    transition: all .55s ease;
}

button:hover {
    background-color: var(--colourdark);
}

.operator {
    color: var(--colour2light);
}

.clear {
    background-color: var(--colour2light);
    border-color: var(--colour2dark);
    color: var(--colourText);
}

.clear:hover {
    background-color: var(--colour2dark);
}

.calculatorkeys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.equals {
    height: 100%;
    grid-row: 2 / 6;
    grid-column: 4 / 5;
}